<div class="col s12 m3 ">
  <div class="card blue darken-1 z-depth-2">
    <div class="card-content white-text">
      <span class="card-title"><%= @product['name'] %></span>
      <p><%= @product['description'] %></p>
    </div>
    <div class="card-action">
      <a href="<%= @product['id'] %>" class="show">Show Product</a>
      <a href="#">This is a link</a>
    </div>
  </div>
</div>

